<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <h1>Store</h1>
    <a href="{{ url_for('add') }}" class="btn">Add New Book</a><hr>
    {% if books == []: %}
    <p>Store is empty.</p>
    {% endif %}
    <div class="container">
        {% for book in books %}
        <div class="item">
            <div class="image" style="background-image:url('{{book.img}}')"></div>

            <h2>{{book.title}}</h2>
            <h4>ID: {{book.id}} | Author : {{book.author}} | Quantity : {{book.quantity}}</h4>
            <a href="{{ url_for('edit', id=book.id) }}">Edit Quantity</a>
            <a href="{{ url_for('delete', id=book.id) }}">Delete</a>
            <a href="{{ url_for('add_to_cart') }}">Add to Cart</a>

        </div>
        {% endfor %}
    </div>
            <a href="{{ url_for('logout') }}" class="btn1" >Log Out</a>
</body>
</html>
